<div class="construction-div">
    <hr class="line-break">
    <h1 class="construction-title">Login Page Under Construction!</h1>
    <hr class="line-break">
    <image src="./images/under-construction.png" class="construction-image"></image>
    <hr class="line-break">
    <h1 class="construction-title">Hopefully Ready Soon!</h1>
    <hr class="line-break">
</div>

<script src="/js/index.js"></script>