* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root {
    --h: 10rem;
    --blue-color: skyblue;
    --orange-color: orange;
    --grey-color: grey;
    --black-color: black;
    --drop-text-color: rgba(255, 183, 0, 0.523);
    --drop-shadow-color: rgba(255, 183, 0, 0.523);
    --salsa-font-family: "Salsa", cursive;
    --riot-font-family: "Protest Riot", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}
section {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}
section::after {
    background-image:
    radial-gradient(at 50% 0, black, transparent 70%),
    linear-gradient(0deg, black, transparent 50%) bottom;
    background-size: 100% 15px;
    background-repeat: no-repeat;
}
.hero {
    background-image: linear-gradient(rgba(229, 122, 15, .2), rgb(55, 55, 55, 1)), url("../images/Leonardo_Diffusion_XL_silhouette_of_a_women_at_night_high_on_t_0.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0rem .4rem var(--drop-shadow-color);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
}
.hero-textbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
}
.hero-title {
    font-family: var(--salsa-font-family);
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin: auto 1%;
    width: 25%;
    min-width: 10%;
    text-shadow: .3rem .3rem rgba(255, 183, 0, 0.523);
    text-align: center;
}
.hero-desc {
    font-family: "Protest Riot", sans-serif;
    font-size: 250%;
    margin: auto 0;
    color: white;
    text-shadow: .3rem .3rem rgba(255, 183, 0, 0.523);
}
.hero-nav {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
}
.nav-item {
    list-style: none;
    width: 50%;
    height: 90%;
    margin-right: 2%;
}
.list-button {
    color: skyblue;
    font-size: 120%;
    font-family: "Salsa", cursive;
    padding: 2%;
    width: 100%;
    min-width: 5rem;
    height: 90%;
    background-color: grey;
    border: .1rem .1rem solid;
    border-radius: 25px;
    border-color: skyblue;
}
.nav-item button:hover {
    transition-duration: .8s;
    background-color: black;
}
.container {
    width: 100%;
    min-height: 20rem;
    padding: 2% 5%;
}

.slideshow-title {
    color: var(--blue-color);
    font-size: 300%;
    font-family: var(--riot-font-family);
    margin: auto;
    text-align: center;
    text-shadow: .1rem .1rem var(--drop-text-color);
    width: 30%
}
.slideshow-title::after {
    content: '\00a0';
    background-image:
      radial-gradient(at 50% 0, rgba(0, 217, 255, 1) 0%, rgba(255, 170, 0, 0.66) 30%, rgba(255, 0, 0, 0.33) 60%, transparent 75%);
    background-size: 100% 1rem;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}
.slideshow-container {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    position: relative;
    margin: 2%;
}
.image-container {
    display: flex;
    height: 100%;
    width: 100%;
    border: .5rem solid var(--blue-color);
    border-radius: 5%;
    box-shadow: .5rem .5rem var(--drop-shadow-color);
}
.slideshow-image {
    border-radius: 3.5%;
    height: 100%;
    width: 100%;
}
.slideshow-image:hover {
    transition-duration: .5s;
    transform: scale(1.1);
}
.slides {
  /* display: none; */
  padding: .5%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--blue-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: var(--grey-color);
}

.caption {
  color: #f2f2f2;
  font-size: 200%;
  position: absolute;
  max-width: 20%;
  overflow: auto;
  text-align: left;
  margin-left: 1%;
  top: 90%;
  width: 20%;
}
.numbertext {
  color: #f2f2f2;
  font-size: 150%;
  padding: 8px 12px;
  position: absolute;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #484848;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

.control-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10rem;
}
.select-button {
    color: var(--blue-color);
    font-family: "Salsa", serif;
    width: 20%;
    height: 50%;
    text-align: center;
    border-color: var(--blue-color);
    border-radius: 25px;
    background-color: var(--grey-color);
}
.select-button:hover {
    transition-duration: .8s;
    background-color: black;
}

.select-button h1 {
    font-size: 300%;
    text-shadow: .2rem .2rem var(--drop-text-color);
}

.navbar {
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.navbar a {
    color: var(--orange-color);
    height: 100%;
    font-size: 250%;
    text-align: center;
    text-decoration: none;
    font-family: var(--salsa-font-family);
}
.navbar h3 {
    color: var(--orange-color);
    font-family: var(--salsa-font-family);
    font-size: 250%;
    padding: .5%;
}
.navbar a:hover {
    transition-duration: 1s;
    color: var(--orange-color);
    background-color: var(--blue-color);
}
.navbar a.active {
    display: block;
    background-color: black;
}