* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root {
    --h: 10rem;
    --blue-color: skyblue;
    --orange-color: orange;
    --grey-color: grey;
    --green-color: rgb(10, 102, 10);
    --black-color: black;
    --drop-text-color: rgba(255, 183, 0, 0.523);
    --drop-shadow-color: rgba(255, 183, 0, 0.523);
    --salsa-font-family: "Salsa", cursive;
    --riot-font-family: "Protest Riot", sans-serif;
    --poppins-font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}
section {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}
section::after {
    background-image:
    radial-gradient(at 50% 0, black, transparent 70%),
    linear-gradient(0deg, black, transparent 50%) bottom;
    background-size: 100% 15px;
    background-repeat: no-repeat;
}
.hero {
    background-image: linear-gradient(rgba(229, 122, 15, .2), rgb(55, 55, 55, 1)), url("../images/Leonardo_Diffusion_XL_silhouette_of_a_women_at_night_high_on_t_0.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0rem .4rem var(--drop-shadow-color);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
}
.hero-textbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
}
.hero-title {
    color: rgb(255, 255, 255);
    font-family: var(--salsa-font-family);
    font-size: 4rem;
    margin: auto 1%;
    width: 25%;
    min-width: 10%;
    text-shadow: .3rem .3rem rgba(255, 183, 0, 0.523);
    text-align: center;
}
.hero-desc {
    color: white;
    font-family: var(--riot-font-family);
    font-size: 250%;
    overflow: hidden;
    margin: auto 0;
    text-align: center;
    text-shadow: .3rem .3rem rgba(255, 183, 0, 0.523);
    width: 50%
}
.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 25%;
}
.home-button {
    background-color: var(--grey-color);
    border: .1rem .1rem solid;
    border-radius: 25px;
    border-color: var(--blue-color);
    color: var(--blue-color);
    height: 5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
}
.home-button h1 {
    color: white;
    padding: 20%;
    margin-top: 40%;
    text-align: center;
}
.home-button:hover {
    transition-duration: .6s;
    background-color: var(--orange-color);
}
.home-button:hover h1{
    transition-duration: .6s;
    color: var(--blue-color);
}
.dropdown-button {
    color: var(--blue-color);
    background-color: grey;
    padding: 2%;
    min-width: 5rem;
    height: 5rem;
    border-radius: 25px;
    text-align: center;
}
.dropdown-button:hover {
    transition-duration: 8s;
    background-color: var(--orange-color);
}
.dropdown-container {
    position: absolute;
    display: none;
    height: 10rem;
    right: 0;
    width: 25%;
}
.show {
    display: block;
}
.hero-nav {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.nav-item {
    list-style: none;
    width: 100%;
    height: 90%;
}
.prof-image{
    height: 100%;
    width: 100%;
}
.list-button {
    color: skyblue;
    font-size: 120%;
    font-family: "Salsa", cursive;
    padding: 2%;
    width: 90%;
    height: 90%;
    background-color: grey;
    border: .1rem .1rem solid;
    border-radius: 25px;
    border-color: skyblue;
    text-align: center;
    text-decoration: none;
}
.nav-item button:hover {
    transition-duration: .8s;
    background-color: black;
}
.container {
    width: 100%;
    min-height: 20rem;
    padding: 2% 5%;
}
.slideshow-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 2% 0;
}
.slideshow-title {
    color: var(--blue-color);
    font-size: 300%;
    font-family: var(--riot-font-family);
    margin: auto;
    text-align: center;
    text-shadow: .1rem .1rem var(--drop-text-color);
    width: 50%
}
.slideshow-title::after {
    content: '\00a0';
    background-image:
      radial-gradient(at 50% 0, rgba(0, 217, 255, 1) 0%, rgba(255, 170, 0, 0.66) 30%, rgba(255, 0, 0, 0.33) 60%, transparent 75%);
    background-size: 100% 1rem;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}
.image-container {
    display: flex;
    height: 100%;
    width: 100%;
    border: .5rem solid var(--blue-color);
    border-radius: 5%;
    box-shadow: .5rem .5rem var(--drop-shadow-color);
}
.slideshow-image {
    border-radius: 3.5%;
    max-height: 512px;
    height: 100%;
    width: 100%;
}
.slideshow-image:hover {
    transition-duration: .5s;
    transform: scale(1.1);
}
.slides {
  padding: .5%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--blue-color);
  font-weight: bold;
  font-size: 200%;
  transition: 0.8s ease;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 0px 25px 25px 0px;
}
.prev {
    left: 0;
    border-radius: 25px 0 0 25px;
}
.prev:hover, .next:hover {
  background-color: var(--grey-color);
}

.caption {
  color: #f2f2f2;
  font-family: var(--poppins-font-family);
  font-size: 200%;
  position: absolute;
  overflow: visible;
  text-align: left;
  margin-left: 1%;
  top: 100%;
  width: 100%;
}
.numbertext {
  color: #f2f2f2;
  font-family: var(--poppins-font-family);
  font-size: 200%;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
}
.dot-container {
    margin-top: 5%
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #484848;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

.control-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10rem;
}
.control-buttons a {
    border: .2rem solid var(--blue-color);
    text-decoration: none;
}
.select-button {
    color: var(--blue-color);
    font-family: "Salsa", serif;
    width: 20%;
    height: 50%;
    text-align: center;
    border-color: var(--blue-color);
    border-radius: 25px;
    background-color: var(--grey-color);
}
.select-button:hover {
    transition-duration: .8s;
    background-color: black;
}

.select-button h1 {
    height: 100%;
    width: 100%;
    margin: 2% auto;
    font-size: 300%;
    text-shadow: .2rem .2rem var(--drop-text-color);
}

.navbar {
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.navbar button {
    color: var(--orange-color);
    background-color: grey;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-family: var(--salsa-font-family);
}
.navbar h3 {
    color: var(--orange-color);
    font-family: var(--salsa-font-family);
    font-size: 200%;
    margin: 1%;
    text-shadow: .2rem .2rem var(--black-color);
}
.navbar button:hover {
    transition-duration: 1s;
    color: var(--orange-color);
    background-color: var(--blue-color);
}
.navbar button.active {
    display: block;
    background-color: black;
}

/* GAME CSS START */
#game-title {
    color: var(--blue-color);
    font-family: var(--salsa-font-family);
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    text-shadow: .2rem .2rem var(--grey-color);
    width: 100%;
}
.response-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
}
.response-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.response-image {
    max-height: 30rem;
    border: .2rem solid var(--green-color);
}
.response-text {
    color: whitesmoke;
    font-family: var(--poppins-font-family);
    font-size: 150%;
    line-height: 2rem;
    text-align: center;
    height: 4rem;
    width: 100%;
}
.option-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
}
.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
    width: 100%;
}
.option-button {
    height: 2rem;
    width: 2rem;
    margin: auto 2%;
    border-radius: 100%;
    background-color: var(--blue-color);
}
.option-button:hover {
    background-color: var(--grey-color);
    box-shadow: 1rem 1rem var(--blue-color);
    transition-duration: .6s;
}
.option-text {
    color: white;
    font-family: var(--poppins-font-family);
    font-size: 150%;
}
.theme-block {
    display: flex;
    flex-direction: column;
    margin: auto 20%;
    height: 25rem;
    width: 60%;
}
.theme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
    width: 100%;
}
.theme-button {
    height: 2rem;
    width: 2rem;
    margin: auto 2%;
    border-radius: 100%;
    background-color: var(--blue-color);
}
.theme-button:hover {
    transition-duration: .8s;
    background-color: var(--orange-color);
    box-shadow: .2rem .2rem var(--blue-color);
}
.theme-container:hover p {
    transition-duration: .8s;
    color: var(--orange-color);
}
.theme-container label {
    color: white;
    font-size: 150%;
    font-family: var(--poppins-font-family);
    margin: auto 2%;
}
#custom-theme {
    height: 100%;
    font-size: 200%;
    width: 60%;
}